version: "3.9"

services:
    php:
        build:
            context: .
            target: php
        restart: unless-stopped
        volumes:
            - app_storage:/app/storage
            - app_cache:/app/bootstrap/cache
        environment:
            DB_PORT: 3306
            CACHE_DRIVER: redis
            SESSION_DRIVER: redis
            QUEUE_CONNECTION: redis
            REDIS_HOST: redis
            REDIS_CLIENT: phpredis
        networks:
            - master-sql
        depends_on:
            redis:
                condition: service_started

    nginx:
        build:
            context: .
            target: nginx
        depends_on:
            - php

    queue:
        build:
            context: .
            target: php
        entrypoint: [ "/entrypoint-queue.sh" ]
        environment:
            DB_PORT: 3306
            CACHE_DRIVER: redis
            SESSION_DRIVER: redis
            QUEUE_CONNECTION: redis
            REDIS_HOST: redis
            REDIS_CLIENT: phpredis
        networks:
            - master-sql
        depends_on:
            redis:
                condition: service_started
        volumes:
            - app_storage:/app/storage
            - app_cache:/app/bootstrap/cache
        restart: unless-stopped

    redis:
        image: redis:latest
        command: redis-server --save 20 1 --loglevel warning
        restart: unless-stopped
        volumes:
            - cache:/data

volumes:
    cache:
    app_storage:
    app_cache:

networks:
    master-sql:
        external: true

